<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<pre>
    一个跳转，从indexcontroller中newway跳转到当前页面

##注释
#*
我还是注释
 *#
value1:$!{value1}
$!{value2}
${value3}##加感叹号当值不存在就不显示

#foreach($nc in $nochange)
    $!{foreach.index}:$!{nc}
#end

#foreach($mp in $map.entrySet())
    $!{foreach.index}:$!{mp.key} $!{mp.value}
#end
user:$!{user.getName()}

 #macro(message,$nc,$index)
     输出信息$nc,$index
 #end
    #foreach($nc in $nochange)
        #message($nc,$foreach.index)
    #end
  #set($hello="hello")
  #set($hworld="$!{hello}world")
  #set($hworld1='$!{hello}world')
    hworld:$hworld
     hworld1:$hworld1
</pre>
</body>
</html>